extends ../layout.pug

block content
  if people
    each person in people
      h1 #{person.name}

      each val, key in person
        if key === "name" 
          p(class=key)= 'First Name: ' + val
        if key === "job" 
          p(class=key)= 'Current Job: ' + val
        if key === "quote" 
          p(class=key)= 'Favorite Quote: ' + val
          //- button(onClick!="fetch('/profile', { method: 'delete', body: JSON.stringify({item: 'joe'}), headers: {'Content-Type': 'application/json'} })") X

      //- form(action="/profile" method="post")
      //-   label(for="key") key
      //-     select( id="key" name="itemKey")
      //-       each val, key in person
      //-         option(value=key)= key
      //-       option(value="hobby") hobby

      //-   label(for="value") value
      //-     input(type="text" id="value" name="itemValue")
      //-   button(type="submit") Add entry